* {
    margin: 20;
    padding: 20;
    font-family: Arial, Helvetica, sans-serif;
 }

#nameclass {
color: rgb(117, 87, 121);
background-color: rgb(232, 205, 250);
}
#nameclass2{
    color: rgb(201, 99, 175);
    background-color: rgb(255, 225, 246);
}
article p {
    color: #88c0c0;

}