@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

body {
    background-color: rgb(255, 235, 254);
    font-family: "Single Day";
    font-size: 20px;
    text-align: justify;
}

h1,h2 {
    color: rgb(102, 0, 94);
}

p {
    color: rgb(155, 80, 158);

}